@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Inter&display=swap');
@import "tailwindcss";

html {
  font-family: 'Inter', sans-serif;
  background-color: #FFF2DF; /* matches your bg */
}

h1, h2, h3 {
  font-family: 'Fredoka', sans-serif;
}
